# Stemming in NLP

In [1]:
import nltk 
#nltk.download('punkt')  # Download the required resource (tokenizer models) 
#!pip install nltk 

import warnings
warnings.filterwarnings('ignore')

In [2]:
word = ['change','changing','changes','changed']

In [3]:
word

['change', 'changing', 'changes', 'changed']

In [4]:
from nltk.stem import PorterStemmer

In [5]:
p = PorterStemmer()

In [6]:
for w in word:
    print(w, p.stem(w))

change chang
changing chang
changes chang
changed chang

In [7]:
for w in word:
    print(w , p.stem(w))

change chang
changing chang
changes chang
changed chang

In [8]:
sen = 'I want to change the world if world changed my career by changing abcd'

In [9]:
sen

'I want to change the world if world changed my career by changing abcd'

In [10]:
from nltk.tokenize import word_tokenize

In [11]:
toke = word_tokenize(sen)

In [12]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [13]:
sen.split()

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [14]:
for w in toke:
    print(w , p.stem(w))

I i
want want
to to
change chang
the the
world world
if if
world world
changed chang
my my
career career
by by
changing chang
abcd abcd

In [15]:
#nltk.download('wordnet')

# Lemmatization in NLP

In [16]:
from nltk.stem import WordNetLemmatizer

In [17]:
le = WordNetLemmatizer()

In [18]:
toke

['I',
 'want',
 'to',
 'change',
 'the',
 'world',
 'if',
 'world',
 'changed',
 'my',
 'career',
 'by',
 'changing',
 'abcd']

In [19]:
for w in toke:
    print(w , le.lemmatize(w))

I I
want want
to to
change change
the the
world world
if if
world world
changed changed
my my
career career
by by
changing changing
abcd abcd

In [20]:
le.lemmatize('changes')

'change'

# Tokenization in NLP

In Python, there are several libraries and tools available for performing tokenization and other NLP tasks. Here are a few examples using popular libraries

# NLTK

NLTK (Natural Language Toolkit) is a widely used library for NLP tasks. To perform tokenization using NLTK, you need to install it first. You can do so by running pip install nltk. Here's an example of tokenizing a sentence using NLTK

In [21]:
from nltk.tokenize import word_tokenize, sent_tokenize

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
word_tokens = word_tokenize(sentence)
sentence_tokens = sent_tokenize(sentence)

print(word_tokens)
print(sentence_tokens)

['I', "'m", 'from', 'aiQuest', 'Intelligence', '.', 'I', 'am', 'learning', 'NLP', '.', 'It', 'is', 'fascinating', '!']
["I'm from aiQuest Intelligence.", 'I am learning NLP.', 'It is fascinating!']

# spaCy

spaCy is another powerful library for NLP. To install spaCy, you can run pip install spacy and then download the appropriate language model. Here's an example of tokenization using spaCy

In [22]:
#!pip install spacy
# python -m spacy download en_core_web_sm    -> install in conda

In [23]:
import spacy

nlp = spacy.load('en_core_web_sm')  # Load the English language model

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
doc = nlp(sentence)

word_tokens = [token.text for token in doc]

print(word_tokens)

['I', "'m", 'from', 'aiQuest', 'Intelligence', '.', 'I', 'am', 'learning', 'NLP', '.', 'It', 'is', 'fascinating', '!']

# Transformers

Transformers is a library built by Hugging Face that provides state-of-the-art pre-trained models for NLP. It offers various functionalities, including tokenization. To install Transformers, run pip install transformers. Here's an example of tokenization using Transformers

In [24]:
from transformers import AutoTokenizer

tokenizer = AutoTokenizer.from_pretrained('bert-base-uncased')

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!"
tokens = tokenizer.tokenize(sentence)

print(tokens)

['i', "'", 'm', 'from', 'ai', '##quest', 'intelligence', '.', 'i', 'am', 'learning', 'nl', '##p', '.', 'it', 'is', 'fascinating', '!']

# Named Entity Tokenization using NLTK

To perform named entity tokenization using NLTK (Natural Language Toolkit), you can utilize the named entity recognition (NER) functionality provided by NLTK. Here's an example of how to extract named entity tokens from a sentence using NLTK

In [25]:
#nltk.download('averaged_perceptron_tagger')

In [26]:
#nltk.download('wordnet')

In [27]:
import nltk
nltk.download('maxent_ne_chunker')  # Download the required resource (NER models)
nltk.download('words')  # Download the required resource (word corpus) 

from nltk import word_tokenize, pos_tag, ne_chunk

sentence = "I'm from aiQuest Intelligence. I am learning NLP. It is fascinating!, Hasan vai, my name is Joy"

# Tokenize the sentence into words
tokens = word_tokenize(sentence)

# Perform part-of-speech tagging
pos_tags = pos_tag(tokens)

# Perform named entity recognition
ner_tags = ne_chunk(pos_tags) 

# Extract named entity tokens
named_entity_tokens = []

for chunk in ner_tags:
    if hasattr(chunk, 'label'): #hasattr(object, attribute)
        
        named_entity_tokens.append(' '.join(c[0] for c in chunk))

print(named_entity_tokens)

['aiQuest Intelligence', 'NLP', 'Hasan', 'Joy']

[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     C:\Users\rashe\AppData\Roaming\nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to
[nltk_data]     C:\Users\rashe\AppData\Roaming\nltk_data...
[nltk_data]   Package words is already up-to-date!

# Text Vectorizer

In [28]:
import pandas as pd
df = pd.read_csv('data.csv')

In [29]:
df

                           test  class
0             I love Bangladesh      1
1  Could you give me an iphone?      0
2            Hello how are you?      1
3           I want to talk you.      1

# CountVectorizer

In [30]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [31]:
cv = CountVectorizer()

In [32]:
cv_x = cv.fit_transform(df['test'])
cv_x

<4x14 sparse matrix of type '<class 'numpy.int64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [33]:
cv_x.toarray()

array([[0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0],
       [1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1],
       [0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1]], dtype=int64)

In [35]:
#cv.get_feature_names()

In [37]:
cv_df = pd.DataFrame(cv_x.toarray())
cv_df

   0   1   2   3   4   5   6   7   8   9   10  11  12  13
0   0   0   1   0   0   0   0   0   1   0   0   0   0   0
1   1   0   0   1   1   0   0   1   0   1   0   0   0   1
2   0   1   0   0   0   1   1   0   0   0   0   0   0   1
3   0   0   0   0   0   0   0   0   0   0   1   1   1   1

In [55]:
cv_df = pd.DataFrame(cv_x.toarray(), index=df['test'], columns=cv.get_feature_names_out())

In [56]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0,0,1,0,0,0,0,0,1,0,0,0,0,0
Could you give me an iphone?,1,0,0,1,1,0,0,1,0,1,0,0,0,1
Hello how are you?,0,1,0,0,0,1,1,0,0,0,0,0,0,1
I want to talk you.,0,0,0,0,0,0,0,0,0,0,1,1,1,1

# TfidfVectorizer

In [45]:
tf = TfidfVectorizer()

In [46]:
tf_z = tf.fit_transform(df['test'])

In [47]:
tf_z

<4x14 sparse matrix of type '<class 'numpy.float64'>'
	with 16 stored elements in Compressed Sparse Row format>

In [57]:
cv_df = pd.DataFrame(tf_z.toarray(), index=df['test'], columns=tf.get_feature_names_out())

In [58]:
cv_df

,an,are,bangladesh,could,give,hello,how,iphone,love,me,talk,to,want,you
test,,,,,,,,,,,,,,
I love Bangladesh,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000,0.707107,0.000000,0.000000,0.000000,0.000000,0.000000
Could you give me an iphone?,0.430037,0.000000,0.000000,0.430037,0.430037,0.000000,0.000000,0.430037,0.000000,0.430037,0.000000,0.000000,0.000000,0.274487
Hello how are you?,0.000000,0.541736,0.000000,0.000000,0.000000,0.541736,0.541736,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.345783
I want to talk you.,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.541736,0.541736,0.541736,0.345783

# Word2Vec

In [ ]:
!pip install gensim

In [51]:
from gensim.models import Word2Vec, KeyedVectors

In [52]:
text_vector = [nltk.word_tokenize(test) for test in df['test']]
text_vector

[['I', 'love', 'Bangladesh'],
 ['Could', 'you', 'give', 'me', 'an', 'iphone', '?'],
 ['Hello', 'how', 'are', 'you', '?'],
 ['I', 'want', 'to', 'talk', 'you', '.']]

In [53]:
model = Word2Vec(text_vector, min_count=1) #shift+tab

In [61]:
model.wv.most_similar('iphone')

[('you', 0.21882031857967377),
 ('give', 0.1747603416442871),
 ('Could', 0.16378773748874664),
 ('love', 0.10852646827697754),
 ('to', 0.06548114866018295),
 ('want', 0.048910025507211685),
 ('Bangladesh', 0.04767157509922981),
 ('I', 0.022314244881272316),
 ('.', 0.006397287826985121),
 ('talk', -0.01198465097695589)]

In [62]:
import sys
sys.getsizeof(df)

486