In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import warnings
import gspread
warnings.filterwarnings('ignore')

In [2]:
gc = gspread.service_account(filename = "C:\Data Science\KNN\Knn_gender_height_weight\linear-regression-404916-8d9c449085dc.json")

In [3]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/10Rn9DxaOxs_1oiQwymWyjf47nc6d2vLCam2l6stDQgY/edit?usp=sharing")

In [4]:
ws = sheet.worksheet('weight-height')

In [5]:
df = pd.DataFrame(ws.get_all_records())

In [6]:
df

      Gender     Height      Weight
0       Male  73.847017  241.893563
1       Male  68.781904  162.310473
2       Male  74.110105  212.740856
3       Male  71.730978  220.042470
4       Male  69.881796  206.349801
...      ...        ...         ...
8550  Female  60.483946  110.565497
8551  Female  63.423372  129.921671
8552  Female  65.584057  155.942671
8553  Female  67.429971  151.678405
8554  Female  60.921791  131.253738

[8555 rows x 3 columns]

In [7]:
from sklearn.preprocessing import OneHotEncoder

In [8]:
ohe = OneHotEncoder(sparse=False)

In [9]:
gender_ohe = ohe.fit_transform(df[['Gender']])

In [10]:
gender_ohe

array([[0., 1.],
       [0., 1.],
       [0., 1.],
       ...,
       [1., 0.],
       [1., 0.],
       [1., 0.]])

In [19]:
df.drop(columns='Gender',drop=‘first’, inplace=True)

NameError: name 'First' is not defined

In [12]:
df.values

array([[ 73.84701702, 241.8935632 ],
       [ 68.78190405, 162.3104725 ],
       [ 74.11010539, 212.7408556 ],
       ...,
       [ 65.58405676, 155.9426708 ],
       [ 67.42997138, 151.6784055 ],
       [ 60.92179087, 131.2537378 ]])

In [13]:
combined_values = np.hstack((gender_ohe,df[['Height', 'Weight']].values))

In [14]:
combined_values

array([[  0.        ,   1.        ,  73.84701702, 241.8935632 ],
       [  0.        ,   1.        ,  68.78190405, 162.3104725 ],
       [  0.        ,   1.        ,  74.11010539, 212.7408556 ],
       ...,
       [  1.        ,   0.        ,  65.58405676, 155.9426708 ],
       [  1.        ,   0.        ,  67.42997138, 151.6784055 ],
       [  1.        ,   0.        ,  60.92179087, 131.2537378 ]])

In [15]:
encoded_column_names = ohe.get_feature_names_out(['Gender'])
columns = list(encoded_column_names) + ['Height', 'Weight']

In [16]:
combined_df = pd.DataFrame(combined_values, columns=columns)

In [17]:
combined_df

      Gender_Female  Gender_Male     Height      Weight
0               0.0          1.0  73.847017  241.893563
1               0.0          1.0  68.781904  162.310473
2               0.0          1.0  74.110105  212.740856
3               0.0          1.0  71.730978  220.042470
4               0.0          1.0  69.881796  206.349801
...             ...          ...        ...         ...
8550            1.0          0.0  60.483946  110.565497
8551            1.0          0.0  63.423372  129.921671
8552            1.0          0.0  65.584057  155.942671
8553            1.0          0.0  67.429971  151.678405
8554            1.0          0.0  60.921791  131.253738

[8555 rows x 4 columns]

In [18]:
from sklearn.model_selection import train_test_split

In [ ]:
x = combined_df.drop('Weight', axis=1)
y = combined_df[['Weight']]