In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\python311\lib\site-packages (2.1.3)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in c:\python311\lib\site-packages (22.3.1)
Collecting pip
  Using cached pip-23.3.1-py3-none-any.whl (2.1 MB)
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.3.1
    Uninstalling pip-22.3.1:

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'c:\\python311\\lib\\site-packages\\pip-22.3.1.dist-info\\entry_points.txt'
Consider using the `--user` option or check the permissions.


[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
!pip install gspread

Requirement already satisfied: gspread in c:\python311\lib\site-packages (5.12.0)
Requirement already satisfied: google-auth>=1.12.0 in c:\python311\lib\site-packages (from gspread) (2.23.4)
Requirement already satisfied: google-auth-oauthlib>=0.4.1 in c:\python311\lib\site-packages (from gspread) (1.1.0)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\python311\lib\site-packages (from google-auth>=1.12.0->gspread) (5.3.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\python311\lib\site-packages (from google-auth>=1.12.0->gspread) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\python311\lib\site-packages (from google-auth>=1.12.0->gspread) (4.9)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\python311\lib\site-packages (from google-auth-oauthlib>=0.4.1->gspread) (1.3.1)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in c:\python311\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.12.0->gspread) (0.5.0)
Requirement already satisfied: oauthlib>=3.0.0 in c:\python311\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.2.2)
Requirement already satisfied: requests>=2.0.0 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from requests>=2.0.0->requests-oauthlib>=0.7.0->google-auth-oauthlib>=0.4.1->gspread) (2023.7.22)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
!pip install numpy

Requirement already satisfied: numpy in c:\python311\lib\site-packages (1.26.1)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [5]:
!pip install matplotlib

Requirement already satisfied: matplotlib in c:\python311\lib\site-packages (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\python311\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\python311\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python311\lib\site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python311\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\python311\lib\site-packages (from matplotlib) (1.26.1)
Requirement already satisfied: packaging>=20.0 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from matplotlib) (23.2)
Requirement already satisfied: pillow>=8 in c:\python311\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python311\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import warnings
import gspread
warnings.filterwarnings('ignore')

In [7]:
gc = gspread.service_account(filename = "C:\Data Science\Feature Transformation\linear-regression-404916-8d9c449085dc.json")

In [8]:
sheet = gc.open_by_url("https://docs.google.com/spreadsheets/d/1JF_G282wOHIqhhGBqF1Hfj3rWoklv6V0HV0uUdiaVBU/edit?usp=sharing")

In [9]:
ws = sheet.worksheet('Sheet1')

In [10]:
df = pd.DataFrame(ws.get_all_records())

In [11]:
df.columns

Index(['Price'], dtype='object')

# Normalization

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [13]:
df['Normalization'] = scaler.fit_transform(df[['Price']])
df

   Price  Normalization
0    110            0.2
1    105            0.1
2    115            0.3
3    120            0.4
4    110            0.2
5    130            0.6
6    150            1.0
7    100            0.0
8    105            0.1

# Standardization

In [14]:
from sklearn.preprocessing import StandardScaler
std = StandardScaler()

In [15]:
df['Standardization'] = std.fit_transform(df[['Price']])
df.head()

   Price  Normalization  Standardization
0    110            0.2        -0.416356
1    105            0.1        -0.757011
2    115            0.3        -0.075701
3    120            0.4         0.264954
4    110            0.2        -0.416356

# Log Transform

In [16]:
from sklearn.preprocessing import FunctionTransformer

In [17]:
df['Log Transform'] = FunctionTransformer(np.log1p).fit_transform(df[['Price']])

In [18]:
df

   Price  Normalization  Standardization  Log Transform
0    110            0.2        -0.416356       4.709530
1    105            0.1        -0.757011       4.663439
2    115            0.3        -0.075701       4.753590
3    120            0.4         0.264954       4.795791
4    110            0.2        -0.416356       4.709530
5    130            0.6         0.946264       4.875197
6    150            1.0         2.308884       5.017280
7    100            0.0        -1.097666       4.615121
8    105            0.1        -0.757011       4.663439

# Robust Scaler

In [19]:
from sklearn.preprocessing import RobustScaler

In [20]:
df['Robust Scaler'] = RobustScaler().fit_transform(df[['Price']])
df.head()

   Price  Normalization  Standardization  Log Transform  Robust Scaler
0    110            0.2        -0.416356       4.709530       0.000000
1    105            0.1        -0.757011       4.663439      -0.333333
2    115            0.3        -0.075701       4.753590       0.333333
3    120            0.4         0.264954       4.795791       0.666667
4    110            0.2        -0.416356       4.709530       0.000000

# Max Absolute Scaler

In [21]:
from sklearn.preprocessing import MaxAbsScaler

In [22]:
scaler = MaxAbsScaler()
df['Max Absolute Scaler'] = scaler.fit_transform(df[['Price']])

In [23]:
df

,Price,Normalization,Standardization,Log Transform,Robust Scaler,Max Absolute Scaler
0,110,0.2,-0.416356,4.709530,0.000000,0.733333
1,105,0.1,-0.757011,4.663439,-0.333333,0.700000
2,115,0.3,-0.075701,4.753590,0.333333,0.766667
3,120,0.4,0.264954,4.795791,0.666667,0.800000
4,110,0.2,-0.416356,4.709530,0.000000,0.733333
5,130,0.6,0.946264,4.875197,1.333333,0.866667
6,150,1.0,2.308884,5.017280,2.666667,1.000000
7,100,0.0,-1.097666,4.615121,-0.666667,0.666667
8,105,0.1,-0.757011,4.663439,-0.333333,0.700000