I/O function

In [1]:
print(10+30)

40

In [2]:
print(10)
print(30)

10
30

In [3]:
print(10, end='||') #shift+tab to open suggession
print(30)#shift +enter to run

10||30

In [4]:
print('data','science', end='||', sep=' ') #shift+tab to open suggession
print(30)#shift +enter to run

data science||30

In [5]:
print('data','science', end='||', sep=',') #shift+tab to open suggession
print(30)#shift +enter to run

data,science||30

In [8]:
x = input('1st number')
y = input('2nd number')
print(x+y)#will output string concat
type(x+y)

1st number 5
2nd number 5

55

str

In [9]:
x = int(input('1st number'))
y = int(input('2nd number'))
print(x+y)#will output string concat
type(x+y)

1st number 5
2nd number 5

10

int

In [10]:
x,y,z = 10,20,30

In [11]:
student_name = ['a','b','c'] #snake case recommended

In [12]:
StudentName = ['a','b','c'] #pascal case

In [13]:
studentName = ['a','b','c'] #camel case

Global vs Local

In [14]:
x = 100
def sum_func():
    print(x+x)

In [15]:
x = 100
def sum_func():
    d=45
    print(d+d)

In [16]:
sum_func()

90

In [17]:
print(d)#inside a function so won't be accessible outside function.

NameError: name 'd' is not defined

In [22]:
def sum_func():
    global m
    m=45
    print(m+m)

In [24]:
sum_func()

90

In [25]:
print(m)

45

In [27]:
strings = "set of char"
strings[0]

's'

In [28]:
len(strings)

11

In [30]:
strings[2:8] #from index 2 to 7

't of c'

In [31]:
strings.capitalize() #capitalize ta first letter

'Set of char'

In [32]:
strings.swapcase()

'SET OF CHAR'

In [33]:
strings.title()

'Set Of Char'

In [34]:
strings.isupper()

False

In [35]:
strings.islower()

True

In [36]:
strings.split()

['set', 'of', 'char']

Split Formatting

In [40]:
x= 100
y= 2000
#100 kg rice price is 2000 taka
print('{} kg rice price is {} taka'.format(x, y))

100 kg rice price is 2000 taka

In [41]:
print('{0} kg rice price is {1} taka'.format(x, y))

100 kg rice price is 2000 taka

In [42]:
print('{1} kg rice price is {0} taka'.format(x, y))

2000 kg rice price is 100 taka

In [43]:
x= 10
y = 20
if x>y:
    print("x is greater than y")
elif y>x:
    print("y is greater than x")
else:
    print("equal")

y is greater than x

In [44]:
subjects = ['a','b','c']
for x in subjects:
    print(x)

a
b
c

In [45]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [46]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [ ]:
i = 1  # Initialize i to 1

# Start a while loop that continues as long as i is less than or equal to 20
while i <= 5:
    print(i)  # Print the current value of i
    i = i + 1  # Increment i by 1 for the next iteration

In [1]:
data = "Data Science"
for x in data:
    print(x)

D
a
t
a

S
c
i
e
n
c
e

In [2]:
for i in range(1,30):
    if i==10:
        break
    print(i)

1
2
3
4
5
6
7
8
9

In [3]:
for i in range(1,30):
    if i==10:
        continue
    print(i)

1
2
3
4
5
6
7
8
9
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

List - it is like an array but type doesnt need to be declared. it is ordered,changeable, allows duplicates, mutable

In [29]:
li = [1,2,3,4,5,10,30,'ai','ds',(1,2),[1,2]]

In [30]:
type(li)

list

In [31]:
import sys
sys.getsizeof(li) #how much memory does li take

144

In [32]:
li[0]='a'

In [33]:
li

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2]]

In [34]:
li2 = li
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2]]

In [35]:
li2.append(100)

In [36]:
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100]

In [37]:
li

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100]

In [38]:
li3 = li2.copy()
li3

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100]

In [39]:
li2.append(100)

In [40]:
li2

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100, 100]

In [41]:
li3

['a', 2, 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100]

In [43]:
li[0]

'a'

In [44]:
li[-1]

100

In [45]:
li[3:7]

[4, 5, 10, 30]

In [46]:
li3[-2][1]

2

List Methods

In [47]:
li.insert(2,'ai') #inserting ai in index 2 so 3rd position

In [48]:
li

['a', 2, 'ai', 3, 4, 5, 10, 30, 'ai', 'ds', (1, 2), [1, 2], 100, 100]

In [56]:
li = [3,6,1,7,9,2,5]
li.sort()

In [57]:
li

[1, 2, 3, 5, 6, 7, 9]

In [58]:
li.remove(9) #remove by value

In [59]:
li

[1, 2, 3, 5, 6, 7]

In [60]:
li.pop(2) #remove by index

3

In [61]:
li

[1, 2, 5, 6, 7]

In [62]:
del li[0]

In [63]:
li

[2, 5, 6, 7]

In [64]:
li.count(2)

1

In [65]:
li.reverse()

In [66]:
li

[7, 6, 5, 2]

In [67]:
li.extend([20,50])

In [68]:
li

[7, 6, 5, 2, 20, 50]

In [69]:
[print(i) for i in li if (i%2==1)] #odd numbers find out

7
5

[None, None]

Tuple

immutable data structure means you cannot add or delete an element once assigned . string, tuple

In [70]:
tup = tuple('data science')

In [71]:
type(tup)

tuple

In [72]:
tup1 = ('data',)

In [73]:
type(tup1)

tuple

In [74]:
tup2 = ('data')

In [75]:
type(tup2)

str

In [76]:
tup3 = list(tup)

In [77]:
tup3

['d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e']

In [ ]:
tup = tuple(tup2)

In [78]:
tup

('d', 'a', 't', 'a', ' ', 's', 'c', 'i', 'e', 'n', 'c', 'e')

slicing technique

In [79]:
tup4 = tup[0:2]

In [80]:
tup4

('d', 'a')

In [81]:
tup5 = tup[0:3]+tup[4:7]

In [82]:
tup5

('d', 'a', 't', ' ', 's', 'c')

In [83]:
type(tup5)

tuple

Set

Unordered, mutable,Duplicates Not Allowed, cannot be accessed through indexing

In [104]:
s1 = {1,2,333,4,5,6}
s2 = {3,4,5,6,7,8,9}

In [105]:
s1 = {1,22,22,3,6,7}
s1

{1, 3, 6, 7, 22}

In [106]:
s1.add(10)
s1

{1, 3, 6, 7, 10, 22}

In [107]:
#intersection of set
s1.intersection(s2)

{3, 6, 7}

In [108]:
#union
s1.union(s2)

{1, 3, 4, 5, 6, 7, 8, 9, 10, 22}

In [109]:
s1&s2 #intersection another way

{3, 6, 7}

In [110]:
s1|s2 #union

{1, 3, 4, 5, 6, 7, 8, 9, 10, 22}

In [111]:
s1.add(11)
s1

{1, 3, 6, 7, 10, 11, 22}

In [112]:
s1.remove(11) #remove 11

In [113]:
s1

{1, 3, 6, 7, 10, 22}

In [114]:
s1.discard(4) #if the value is there then remove

In [116]:
s1.clear()

In [117]:
s1

set()

In [118]:
fr = frozenset(s2) # we cannot add any elements. Immutable

In [119]:
fr.add(10)

AttributeError: 'frozenset' object has no attribute 'add'

Array [numpy] will learn in numpy

Ordered
,Duplicate values allowed
,changeable, you have to keep same category value

Dictionary{}
ordered, changeable, does not allow duplicates

In [120]:
dic = {
    'name':'Anjoom',
    'age':23,
    'university':'NSU'
}

In [121]:
dic

{'name': 'Anjoom', 'age': 23, 'university': 'NSU'}

In [123]:
dic.keys()

dict_keys(['name', 'age', 'university'])

In [124]:
dic.values()

dict_values(['Anjoom', 23, 'NSU'])

In [126]:
x = int(input())
dic = {}
for i in range(x):
    keys = input()
    value = input()
    dic[keys]=value
print(dic)

 1
 name
 Anjoom

{'name': 'Anjoom'}

In [127]:
dic['age']=23

In [128]:
dic

{'name': 'Anjoom', 'age': 23}

Dataframe -  used for statistical data cleaning , preprocessing #row column

    
Numpy is used for numerical calculation

row column

In [131]:
!pip install pandas

Collecting pandas
  Downloading pandas-2.1.3-cp311-cp311-win_amd64.whl (10.6 MB)
     ---------------------------------------- 10.6/10.6 MB 2.5 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3.post1-py2.py3-none-any.whl (502 kB)
     -------------------------------------- 502.5/502.5 kB 3.5 MB/s eta 0:00:00
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     -------------------------------------- 341.8/341.8 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\afzaal\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.1.3 pytz-2023.3.post1 tzdata-2023.3

[notice] A new release of pip available: 22.3.1 -> 23.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [133]:
import pandas as pd

In [136]:
li = ['Anjoom']
pd.DataFrame(li)

        0
0  Anjoom

In [140]:
df=pd.DataFrame(li,columns=['name'])
df

     name
0  Anjoom

In [141]:
df.shape

(1, 1)

In [153]:
dic = {
    'name' : ['Anjoom', 'Anaiza'],
    'age' : [23,7],
    'study':['a','b']
}
dic

{'name': ['Anjoom', 'Anaiza'], 'age': [23, 7], 'study': ['a', 'b']}

In [154]:
df2 =  pd.DataFrame(dic)
df2

     name  age study
0  Anjoom   23     a
1  Anaiza    7     b

In [155]:
df2.shape

(2, 3)

In [156]:
df2['name']

0    Anjoom
1    Anaiza
Name: name, dtype: object

In [157]:
df2.to_csv('data.csv')

In [161]:
df = pd.read_csv('data.csv') #if extention is xslx then read_excel
#df = pd.read_csv('data.csv', sep=';')

In [162]:
df

   Unnamed: 0    name  age study
0           0  Anjoom   23     a
1           1  Anaiza    7     b

In [164]:
df.drop('study', axis=1)#axis 1 means column,0 means row

   Unnamed: 0    name  age
0           0  Anjoom   23
1           1  Anaiza    7

In [165]:
df

   Unnamed: 0    name  age study
0           0  Anjoom   23     a
1           1  Anaiza    7     b

In [166]:
df.drop('study', axis=1, inplace = True)#df updates

In [167]:
df

   Unnamed: 0    name  age
0           0  Anjoom   23
1           1  Anaiza    7